/* sources
https://venngage.com/tools/accessible-color-palette-generator
*/

/* Universal box sizing */
* {
    box-sizing: border-box;
}

/* universal font */
body {
    margin:0;
    font-family: Arial, Verdana, sans-serif;
    font-size: 16px;
    text-decoration: none;
    background-color: #fcffeb;
    color: black;
}

.topnav {
    overflow: hidden;
    background-color: #f6f5e3;
}

.topnav a {
    float:left;
    display:block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 1.25em;
    font-style: none;
    font-weight: bold;
}

.h1 {
    margin-top:0;
    margin-bottom:0;
    padding: 20px;
    text-align: center;
    font-size: 4em;
    font-style: none;
    font-weight: bold;
    color: black;
    background-color: #ededed;
}

.h2 {
    text-align: center;
    font-size: 2em;
    font-style: none;
    font-weight: bold;
    color: black;
}

.h3 {
    text-align:center;
    padding: 10px;
}

.h4 {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom:0;
}

.photo_home {
    padding: 80px;
}

.menu_categories {
    padding: 10px;
}

.menu_description {
    padding-left: 10px;
    margin-top:5px;
    margin-bottom:5px;
}

.menu_price {
    float: right;
}


.footer li {
    display: inline;
 }
 
.footer { 
    padding: 10px;
    text-align: center;
    font-size: 1.25em;
    font-style: none;
    font-weight: none;
    color: black;
    background-color: #f6f5e3;
}

