/* universal font */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: papayawhip;
}

.h1 {
    text-align: center;
}

.footer li {
    display: inline-block;
 }
 
.footer {
    text-align: center;
}